.border {
  border: 1px solid #e6e6e6;
  position: relative;
  width: 503px;

  .underline {
    border: 1px solid #eb5454;
    display: block;
    width: 70px;
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0px;
  }
}
.btn-accept {
  background-color: #fe3e3e;
  margin: 5px;
  color: white;
  border-radius: 9px;
  width: 152px;
  height: 52px;
  font-size: 14px;
}
