@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  background-color: #fffaf3;
  height: 500px;
  .MainBanner {
    width: 45%;
    position: relative;
    img:first-child {
      width: 100%;
    }
    img:last-child {
      position: absolute;
      top: 80%;
      animation: rotate 10000ms ease-in infinite;
    }
  }
  section {
    h1 {
      font-family: "byekan-bold";
    }
  }
}
.bggray {
  background-color: #fcfcfc;
  padding: 30px 0px;
}
