@keyframes move {
  from {
    top: 0px;
  }
  to {
    top: 150%;
  }
}
.footer {
  background-color: #100f1f;
  padding: 60px 30px;
  height: 400px;
  overflow: hidden;
  section {
    article {
      color: #fff;
      width: 33%;
      margin: 0px 30px;
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
          margin: 10px 0px;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #fe4a55;
            }
          }
        }
      }
      &:last-child {
        div {
          margin: 10px 0px;
        }
      }
    }
  }
  .line {
    width: 1px;
    position: relative;
    top: -60px;
    height: 400px;
    background-color: rgb(50 49 49);
    border-radius: 20px;
    .linebar {
      width: 1px;
      background-color: #fff;
      height: 30px;
      position: absolute;
      top: 0px;
      right: 0px;
      box-shadow: 100px 4px 32px #fff;
      opacity: 0.8;
      border-radius: 50%;
      animation: move 1500ms 6000ms ease-in infinite;
    }
  }
}
