.basket {
  position: relative;
  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fe4a55;
    color: #fff;
    position: absolute;
    left: 12px;
    top: -6px;
    padding: 9px;
  }
  svg {
    width: 25px;
  }
}
